.Signup{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
        url("https://images.pexels.com/photos/4709285/pexels-photo-4709285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.SignupTitle{
    font-size: 50px;
    /* font-family: 'Cormorant Garamond', serif; */
}

.SignupForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.SignupForm > label{
    margin: 10px 0;
}

.SignupInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.SignupButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.signupLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}