.nav{
    height: 50px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    z-index: 10;
}

.left, .right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
    transition-duration: 0.13s;
}

.facebook-icon:hover{
    color: #1873eb;
    font-size: 25px;
}

.twitter-icon:hover{
    color: #5da9dd;
    font-size: 25px;
}

.instagram-icon:hover{
    color: #e34861;
    font-size: 25px;
}

.displayPicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navList{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navListItem{
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
}

.navSearchIcon{
    color: #666;
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}
.center{
    flex: 6;
}